[submodule "FastV/eval/MileBench_main/HIP"]
	path = FastV/eval/MileBench_main/HIP
	url = https://github.com/ROCm/HIP
[submodule "FastV/eval/VLMEvalKit"]
	path = FastV/eval/VLMEvalKit
	url = https://github.com/open-compass/VLMEvalKit
